@model List<Mug_Front.Models.ArticleViewModel>


@{
    var actNun = 0;
    var dotNun = 0;
}

@section styles
{
    <style>
        #owl-demo .item {
            background: #42bdc2;
            padding: 30px 0px;
            margin: 10px;
            color: #FFF;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            text-align: center;
        }

        .modal-dialog {
            max-width: 800px;
            margin: 30px auto;
        }

        .modal-body {
            position: relative;
            padding: 0px;
        }

        .close {
            position: absolute;
            right: -30px;
            top: 0;
            z-index: 999;
            font-size: 2rem;
            font-weight: normal;
            color: #fff;
            opacity: 1;
        }
        @@media screen and (min-width: 900px) 
        {
            .relizeImg {
            width: 75%; 
            } 
            .logotxt {
    display:none !important;
}
        }
        @@media screen and (max-width: 900px){
    .class{
        width: 100%; 
    }
}
   
    </style>
}



@*<section class="ftco-section ftco-no-pt">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">

                @foreach (var item in Model)
                {
                    if (item.Categore == "首頁大圖")
                    {
                        if (dotNun == 0)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@dotNun" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@dotNun"></li>
                        }
                        dotNun = dotNun + 1;
                    }
                }
            </ol>
            <div class="carousel-inner">


                @foreach (var item in Model)
                {
                    if (item.Categore == "首頁大圖")
                    {
                        if (actNun == 0)
                        {
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="@Url.Action("GetImageFile", "Home", new { fileName = @item.Image })">
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item ">
                                <img class="d-block w-100" src="@Url.Action("GetImageFile", "Home", new { fileName = @item.Image })">
                            </div>
                        }
                        actNun = actNun + 1;
                    }
                }


            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </section>*@



@*<section class="home-slider owl-carousel">
        @foreach (var item in Model)
        {
            if (item.Categore == "首頁大圖")
            {
                <div class="slider-item" style="background-image:url(@Url.Action("GetImageFile", "Home", new { fileName = @item.Image }));background-position:50% 0% !important;padding:0px !important;">
                </div>
            }
        }
    </section>*@



<section class="ftco-section ftco-no-pt" >
        <div id="carouselExampleIndicators" class="carousel slide relizeImg" data-ride="carousel" style="text-align:center;margin:0 auto">
            <ol class="carousel-indicators">

                @foreach (var item in Model)
                {
                    if (item.Categore == "首頁大圖")
                    {
                        if (dotNun == 0)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@dotNun" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@dotNun"></li>
                        }
                        dotNun = dotNun + 1;
                    }
                }
            </ol>
            <div class="carousel-inner"  >


                @foreach (var item in Model)
                {
                    if (item.Categore == "首頁大圖")
                    {
                        if (actNun == 0)
                        {
                            <div class="carousel-item active" >
                             
                                <img class="d-block w-100"   src="@Url.Action("GetImageFile", "Home", new { fileName = @item.Image })">
                            </div>
                        }
                        else
                        {
            <div class="carousel-item ">
                <img class="d-block w-100"  src="@Url.Action("GetImageFile", "Home", new { fileName = @item.Image })">
            </div>
                        }
                        actNun = actNun + 1;
                    }
                }


            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </section>


<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4" >@Mug.Common.Resources.Layout.Exhibition</h2>
                @*<p>@Mug.Common.Resources.Layout.Exhibition_Description</p>*@
            </div>
        </div>
        <div class="row">
            <div id="owl-demo" class="owl-carousel ">
                @foreach (var item in Model)
                {
                    if (item.Categore == "成品展覽")
                    {
                        <div><img src="@Url.Action("GetImageFile", "Home", new { fileName = @item.Image})" /></div>
                    }
                }
            </div>
        </div>
    </div>
</section>




<section class="ftco-section contact-section ftco-services" style="background-color:#fafafa !important">
    <div class="container">

        <div class="row no-gutters">
            <div class="col-md-4 services align-self-stretch ftco-animate" style="text-align:center;vertical-align:middle;">
                <div style="vertical-align:middle;margin-top:35px">
                    <img src="~/images/people.png">
                    <h3 class="heading" style="text-align:center;color:white">@Mug.Common.Resources.Layout.Step1</h3>
                </div>
            </div>

            <div class="col-md-4 services align-self-stretch ftco-animate" style="text-align:center;vertical-align:middle;">
                <div style="vertical-align:middle;margin-top:35px">
                    <img src="~/images/hourglass.png">
                    <h3 class="heading" style="text-align:center;color:white">@Mug.Common.Resources.Layout.Step2</h3>
                </div>
            </div>

            <div class="col-md-4 services align-self-stretch ftco-animate" style="text-align:center;vertical-align:middle;">
                <div style="vertical-align:middle;margin-top:35px">
                    <img src="~/images/work.png">
                    <h3 class="heading" style="text-align:center;color:white">@Mug.Common.Resources.Layout.Step3</h3>
                </div>
            </div>
        </div>



    </div>
</section>



<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-5 pr-md-5">
                <div class="heading-section heading-section-white ftco-animate mb-5">
                    <h2 class="mb-4">@Mug.Common.Resources.Layout.Require</h2>
                    @*<p>@Mug.Common.Resources.Layout.Require_Description</p>*@
                </div>
                <form id="FrmId" class="appointment-form ftco-animate">
                    <div class="d-md-flex">
                        <div class="form-group">
                            <input type="text" id="Name" name="Name" class="form-control" placeholder="@Mug.Common.Resources.Layout.Contact_Name">
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="text" class="form-control" id="Tel" name="Tel" placeholder="@Mug.Common.Resources.Layout.Contact_Tel">
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <div class="form-field">
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="Service" id="Service" class="form-control" style="background-color:black">
                                        <option style="background-color:cornflowerblue" value="訂單詢問">@Mug.Common.Resources.Layout.Contact_opt1</option>
                                        <option style="background-color:cornflowerblue" value="產品諮詢">@Mug.Common.Resources.Layout.Contact_opt2</option>
                                        <option style="background-color:cornflowerblue" value="如何出貨">@Mug.Common.Resources.Layout.Contact_opt3</option>
                                        <option style="background-color:cornflowerblue" value="其他服務">@Mug.Common.Resources.Layout.Contact_opt4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group ml-md-12">
                            <input type="email" name="Email" id="Email" class="form-control" placeholder="@Mug.Common.Resources.Layout.Contact_Email">
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <textarea name="Memo" id="Memo" cols="30" rows="2" class="form-control" placeholder="@Mug.Common.Resources.Layout.Contact_Memo"></textarea>
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="button" id="SendBtn" value="@Mug.Common.Resources.Layout.Contact_Btn" class="btn btn-secondary py-3 px-4">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 p-5 bg-counter aside-stretch">
                <h4>@Mug.Common.Resources.Layout.Contact</h4>
                <div class="row pt-4 mt-1">
                    <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 p-5 bg-light">
                            <div class="text" style="text-align:left">
                                <span>@Mug.Common.Resources.Layout.Address:</span>
                                <span>  @Mug.Common.Resources.Layout.Contact_Addr</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 p-5 bg-light">
                            <div class="text" style="text-align:left">
                                <span>@Mug.Common.Resources.Layout.Tel:</span>
                                <span><a>+886 0234678891</a></span>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 p-5 bg-light">
                            <div class="text" style="text-align:left">
                                <span>@Mug.Common.Resources.Layout.Email:</span>
                                <span> <a>souvsouv@ms45.hinet.net</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18  bg-light">
                            <div class="" style="text-align:left">

                                <span>  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.870551467612!2d121.50200371462286!3d25.038466744267147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a9a7b9d66047%3A0x5f707ae923af7357!2zMTA45Y-w5YyX5biC6JCs6I-v5Y2A5rC456aP6KGXNTXomZ8y!5e0!3m2!1szh-TW!2stw!4v1567321541677!5m2!1szh-TW!2stw" frameborder="0" style="border:0;width:100%" allowfullscreen></iframe></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@*@foreach (var item in Model)
    {
        if (item.Categore == "合作廠商")
        {
            <section class="ftco-customer testimony-section bg-light">
                <div class="container">
                    <div class="row justify-content-center mb-5 pb-2">
                        <div class="col-md-8 text-center heading-section ftco-animate">
                            <h2 class="mb-4">@item.Title</h2>
                            <p>@item.Contents</p>
                            <div style="margin:0 atuo;">
                                <img class="img-thumbnail" src="@Url.Action("GetImageFile", "Home", new { fileName = @item.Image })" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    }*@

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>








@section Scripts
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/lock.js"></script>
    <script>
            $(document).ready(function () {

                $("#owl-demo").owlCarousel({
                    navigation: true
                });
                    $("body").on("click", "#SendBtn", Send);
            });

            function Send()
            {
                var Name = $("#Name").val();
                var Email = $("#Email").val();
                var Tel = $("#Tel").val();
                if (Name == "")
                {
                    alert("Require Name");
                    return false;
                }
                if (isNaN(Tel))
                {
                        alert("Tel is Require number");
                    return false;
                }
                if (Email == "")
                {
                    alert("Require Email");
                    return false;
                }

                if (Email.trim() != "")
                {
                    var emailRule = /^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/g;
                    if (emailRule.test(Email) == false)
                    {
                        alert("Check your Email format");
                        return false;
                    }
                }
                var Opt = $("#Service").val();
                lockScreen();

                $.ajax({
                    url: '@Url.Action("Insert","Contact")',
                    type: "POST",
                    data:  $("#FrmId").serialize(),
                    success: function (data)
                    {
                        unlockScreen();
                        var message = data.Message;
                        if (data.Status == "0") {
                            alert('Thanks You We will contat for you soon');
                        }
                        else if (data.Status == "1")
                        {
                            alert('' + data.Message);
                        }
                    },
                    error: function (err) {
                        unlockScreen();
                        alert(err.status);
                    }
                    });
            }
    </script>
}
