@using Mug.Dao;
@model Blogger
@{
    ViewBag.Title = "新增-產品項目";
}

<div class="page-header">
    <h1>
        新增-產品項目
    </h1>
</div>
<br />
<br />
<form id="frmSub" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Blog_id" class="col-sm-2 control-label">編號</label>
        <div class="col-sm-3">
            <input type="text" class="theinput form-control Blog_id" id="Blog_id" name="Blog_id" disabled />
        </div>
    </div>
    <div class="form-group">
        <label for="Blog_id" class="col-sm-2 control-label">分類</label>
        <div class="col-sm-3">
            <select class="theinput form-control" name="Category_Opt" id="Category_Opt">
                <option value="">請選擇分類</option>
                <option value="馬克杯">馬克杯</option>
                <option value="陶瓷">陶瓷</option>
                <option value="玻璃">玻璃</option>
                <option value="其他">其他</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="file" class="col-sm-2 control-label">圖片</label>
        <div class="col-sm-3">
            @Html.EditorFor(c => c.Image, new { htmlAttributes = new { type = "file", @class = "form-control", placeholder = "Image", onchange = "onfileChange();" } })
        </div>
        <div class="col-sm-offset-2 col-sm-10" style="color:red">*請使用800*540.jpg圖片</div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">預覽</label>
        <div class="col-sm-3">
            <img id="preimg" class="img-thumbnail thumb imgthumb" />
        </div>
    </div>
    <div class="form-group">
        <label for="Enable" class="col-sm-2 control-label">是否啟用</label>
        <div class="col-sm-3">
            <input type="checkbox" id="Enable" name="Enable" checked />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <button type="button" id="Blogbtn" class="btn btn-primary" onclick="onSave();">儲存</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="javascript:location.href='/Product/Index'">回查詢頁</button>
        </div>
    </div>
</form>
@Html.Action("ArticleCreateCkeditor", "ArticlePartial");
@{
    //Html.RenderPartial("../ArticlePartial/ArticleCreate");
    //Html.Partial("ArticleCreate", "ArticlePartial");
    //Html.Action("ArticleCreateTest","ArticlePartial");
}



@section Scripts
{
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script>
    $(function () {

        var model =@Html.Raw(Json.Encode(ViewBag.Lang_Id));
        for (var i = 0; i < model.length; i++) {
            var key = "Contents_" + model[i].Id;
            {
               // var editor = CKEDITOR.editor.replace(key, { skin: 'kama', width: '800px' });
                 CKEDITOR.replace( key, {  skin: 'kama', width: '800px',} );
            }

        }
        });
        function onfileChange() {
            var input = document.getElementById("Image");
            var fReader = new FileReader();
            fReader.readAsDataURL(input.files[0]);
            fReader.onloadend = function (event) {
                var img = document.getElementById("preimg");
                img.src = event.target.result;
            }
        }

    function onSave() {


            if ($("#Image").val() == "")
            {
                alert("請上傳圖片");
                return false;
            }
            var Category_Opt = $("#Category_Opt").val();

            if (Category_Opt == "")
            {
                alert("請選擇分類");
                return false;
            }

             var fileData = new FormData();
            var file = $("#Image");//.get(0);
            var isEmpty = true;
            for (var i = 0; i < file.length; i++) {
                if (file[i].files.length > 0) {
                    fileData.append(file[i].files[0].name, file[i].files[0]);
                    isEmpty = false;
                }
            }
            if (isEmpty) return;
           // fileData.append("Blog_id", $("#Blog_id").val());Category_Opt
            fileData.append("Enable", $("#Enable").prop("checked"));
            fileData.append("Category_Opt", Category_Opt);
            lockScreen();
           $.ajax({
            url: '@Url.Action("Insert")',
            type: "POST",
            contentType: false,  // Not to set any content header
            processData: false,  // Not to process data
            data: fileData,
            success: function (data)
            {
                 unlockScreen();
                var message = data.Message;
                if (data.Status == "0") {
                    alert('' + data.Message);
                    $(".Blog_id").val(data.SeqID);
                    $("#Blogbtn").attr("disabled", true);
                }
                else if (data.Status == "1") {

                    alert('' + data.Message);
                }
            },
            error: function (err) {
                unlockScreen();
                alert(err.status);
            }
        });
    }

    function onSaveLang(lang)
    {
         //ckeditor GET VALUE
        var CkeditorText=   CKEDITOR.instances["Contents_"+lang].getData();
        var Blog_id = $("#Blog_id").val();
        if (Blog_id == "")
        {
            alert("請先新增圖片，再來新增語言內容");
            return false;
        }
        var Title = $("#Title_"+lang).val();
        if (Title.trim() == "") {
        alert("請輸入標題");
        return false;
        }
        var fileData = new FormData();
        fileData.append("Title", Title);
        fileData.append("Contents", CkeditorText);
        fileData.append("Blog_id", Blog_id);
         fileData.append("lang_Id",lang);

         lockScreen();
           $.ajax({
            url: '@Url.Action("InsertCkeditor","ArticlePartial")',
            type: "POST",
            contentType: false,  // Not to set any content header
            processData: false,
            data: fileData,
            success: function (data)
            {
                unlockScreen();
                var message = data.Message;
                if (data.Status == "0") {
                    alert('' + data.Message);
                      $("#AtricleBtn_"+lang).attr("disabled", true);
                }
                else if (data.Status == "1") {
                    alert('' + data.Message);
                }
            },
            error: function (err) {
                unlockScreen();
                alert(err.status);
            }
        });

    }

    </script>
}