<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <!-- Favicons -->
    <link href="~/Content/logo.jpg" rel="icon">
    <link href="~/Content/logo.jpg" rel="apple-touch-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Mug.Common.Resources.Layout.Title</title>
    <link href="~/Content/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/flaticon.css" rel="stylesheet" />
    <link href="~/Content/css/icomoon.css" rel="stylesheet" />
    <link href="~/Content/css/ionicons.min.css" rel="stylesheet" />

    @Styles.Render("~/style/css")
    @RenderSection("heads", required: false)
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .nav-item > a {
            font-weight: 300 !important;
            font-size: 20px !important;
        }

        .childsubitem > a {
            font-size: 18px !important;
        }

        .nav-item > a:hover {
            color: #2f89fc !important;
        }

        .dropdown-item:hover {
            background-color: #2f89fc !important;
            color: white !important;
        }
    </style>
</head>

<body>
    <nav class="navbar py-4 navbar-expand-lg ftco_navbar navbar-light bg-light flex-row">


        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
                <div class="col-lg-2 pr-4 align-items-center">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <span style="margin-left:0px"><img style="width:120px;" src="~/Content/logo.jpg"></span>
                    </a>
                </div>
                <div class="col-lg-10 d-none d-md-block">
                    <div class="row d-flex">
                        <div class="col-md-4 pr-4 d-flex topper align-items-center">
                            <div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-map"></span></div>
                            <span class="text">@Mug.Common.Resources.Layout.Contact_Addr</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">souvsouv@ms45.hinet.net</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">+ 886-2-23120508</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        @*<div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
                <div class="col-lg-4 pr-4 align-items-center">

                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <span style="margin-left:0px"><img style="width:120px;" src="~/Content/logo.jpg">@Mug.Common.Resources.Layout.Title</span>
                    </a>
                </div>
                <div class="col-lg-8 d-none d-md-block">
                    <div class="row d-flex">
                        <div class="col-md-1 pr-4 d-flex topper align-items-center">
                            <div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-map"></span></div>
                            <span class="text"></span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center">
                            <div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">souvsouv@ms45.hinet.net</span>
                        </div>
                        <div class="col-md-2 pr-4 d-flex topper align-items-center">

                        </div>
                        <div class="col-md-4 pr-4 d-flex topper align-items-center">
                            <div class="icon bg-white mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">@Mug.Common.Resources.Layout.Tel:886-2-23120508</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </nav>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span>  @*@Mug.Common.Resources.Layout.Menu*@
            </button>
            @*<p class="button-custom order-lg-last mb-0"><a href="contact.html" class="btn btn-secondary py-2 px-3">Contact Us</a></p>*@
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="@Url.Action("Index","Home")" class="nav-link">@Mug.Common.Resources.Layout.Home</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index","About")" class="nav-link">@Mug.Common.Resources.Layout.About</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index","Service")" class="nav-link">@Mug.Common.Resources.Layout.Service</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Mug.Common.Resources.Layout.Product
                        </a>
                        <div class="dropdown-menu childsubitem" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item subtext" href="@Url.Action("Index","Product",new {ProId="1" })">@Mug.Common.Resources.Layout.Product_Ceramics</a>
                            <a class="dropdown-item" href="@Url.Action("Index","Product",new {ProId="2" })">@Mug.Common.Resources.Layout.Product_Glass</a>
                            <a class="dropdown-item" href="@Url.Action("Index","Product",new {ProId="3" })">@Mug.Common.Resources.Layout.Product_Mug</a>
                            <a class="dropdown-item" href="@Url.Action("Index","Product",new {ProId="4" })">@Mug.Common.Resources.Layout.Product_Other</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="@Url.Action("Index","Contact")" class="nav-link">@Mug.Common.Resources.Layout.Contact</a></li>
                </ul>
                <ul class="nav navbar-nav ">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" id="LanguageMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-globe" ></i> @Mug.Common.Resources.Layout.Language
                        </a>
                        <div class="dropdown-menu childsubitem" aria-labelledby="LanguageMenuLink">
                            <a class="dropdown-item" href="@Url.Action("SetCulture","Language",new { culture = "", retrnUrl = this.Request.RawUrl})"><span class="flag-icon flag-icon-us"> </span>  English</a>
                            <a class="dropdown-item" href="@Url.Action("SetCulture","Language",new { culture = "zh-TW", retrnUrl = this.Request.RawUrl})"><span class="flag-icon flag-icon-tw"> </span>中文繁體</a>

                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- END nav -->

    @RenderBody()


    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-5">
                        <h2 class="ftco-heading-2 logo">@Mug.Common.Resources.Layout.FooterCompany</h2>
                    </div>
                    <div class="ftco-footer-widget mb-5">
                        <h2 class="ftco-heading-2">@Mug.Common.Resources.Layout.Contact</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text"> @Mug.Common.Resources.Layout.Contact_Addr</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+886-2-23120508</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">souvsouv@ms45.hinet.net</span></a></li>
                            </ul>
                        </div>

                        <h2 class="ftco-heading-2">@Mug.Common.Resources.Layout.Factory</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text"> @Mug.Common.Resources.Layout.Factory_Addr</span></li>
                            </ul>
                        </div>

                        @*<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>*@
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-5 ml-md-4">
                        <h2 class="ftco-heading-2">Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index","Home")"><span class="ion-ios-arrow-round-forward mr-2"></span>@Mug.Common.Resources.Layout.Home</a></li>
                            <li><a href="@Url.Action("Index","About")"><span class="ion-ios-arrow-round-forward mr-2"></span>@Mug.Common.Resources.Layout.About</a></li>
                            <li><a href="@Url.Action("Index","Service")"><span class="ion-ios-arrow-round-forward mr-2"></span>@Mug.Common.Resources.Layout.Service</a></li>
                            <li><a href="@Url.Action("Index","Contact")"><span class="ion-ios-arrow-round-forward mr-2"></span>@Mug.Common.Resources.Layout.Contact</a></li>
                        </ul>
                    </div>
                    <div class="ftco-footer-widget mb-5 ml-md-4">
                        <h2 class="ftco-heading-2">@Mug.Common.Resources.Layout.Product</h2>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index","Product",new {ProId="1" })"><span class="ion-ios-arrow-round-forward mr-2"></span>@Mug.Common.Resources.Layout.Product_Ceramics</a></li>
                            <li><a href="@Url.Action("Index","Product",new {ProId="2" })"><span class="ion-ios-arrow-round-forward mr-2"></span>@Mug.Common.Resources.Layout.Product_Glass</a></li>
                            <li><a href="@Url.Action("Index","Product",new {ProId="3" })"><span class="ion-ios-arrow-round-forward mr-2"></span>@Mug.Common.Resources.Layout.Product_Mug</a></li>
                            <li><a  href="@Url.Action("Index","Product",new {ProId="4" })"><span class="ion-ios-arrow-round-forward mr-2"></span>@Mug.Common.Resources.Layout.Product_Other</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/js")


</body>
</html>
